<% layout('../layout') -%>

<% stylesheet('../public/css/style.css') -%>
<% script('../public/js/script.js') -%>
<div class="form">
	<form action="/sign_up" method="post">
	
		<div class="form-group row">
			<label class="col-sm-offset-4 col-sm-2 form-control-label"  for="first_name">First name</label>        
			<div class="col-sm-4 ">
			  <input class="form-control form-control-warning" type="text" id="first_name" name="first_name" placeholder="First name" value="<% if(typeof(post) != "undefined"){ %><%=post.first_name%><%}%>" />		
			</div>
			<% if(typeof(validation_errors) != "undefined" && typeof(validation_errors.first_name) != "undefined"){%>
			   <p class="help-block with-errors"><%=validation_errors.first_name.msg%></p>
			<%}%>
		</div>

		<div class="form-group row">
			<label class=" col-sm-offset-4 col-sm-2 form-control-label" for="last_name">Last name</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last name" value="<% if(typeof(post) != "undefined"){ %><%=post.last_name%><%}%>" />
			</div>
			<% if(typeof(validation_errors) != "undefined" && typeof(validation_errors.last_name) != "undefined"){%>
			   <p class="valid_err"><%=validation_errors.last_name.msg%></p>
			<%}%>
		</div>

		<div class="form-group row">
			<label class="col-sm-offset-4 col-sm-2 form-control-label" for="email">Email</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" id="email" name="email" placeholder="Email" value="<% if(typeof(post) != "undefined"){ %><%=post.email%><%}%>" />
			</div>
			<% if(typeof(validation_errors) != "undefined" && typeof(validation_errors.email) != "undefined"){%>
			   <p class="valid_err"><%=validation_errors.email.msg%></p>
			<%}%>
		</div>

		<div class="form-group row">
			<label class="col-sm-offset-4 col-sm-2 form-control-label" for="password">Password</label>
			<div class="col-sm-4">
				<input class="form-control" type="password" id="password" name="password" placeholder="Password" value="" />
			</div>
			<% if(typeof(validation_errors) != "undefined" && typeof(validation_errors.password) != "undefined"){%>
			   <p class="valid_err"><%=validation_errors.password.msg%></p>
			<%}%>
		</div>

		<div class="form-group row">
			<label class="col-sm-offset-4 col-sm-2 form-control-label" for="password2">Confirm password</label>
			<div class="col-sm-4">
				<input class="form-control" type="password" id="password2" name="password2" placeholder="Confirm password" value="" />
			</div>
			<% if(typeof(validation_errors) != "undefined" && typeof(validation_errors.password2) != "undefined"){%>
			   <p class="valid_err"><%=validation_errors.password2.msg%></p>
			<%}%>
		</div>

		<div class="form-group row">
			<div class="col-sm-offset-6 col-sm-6">
			  <button type="submit" class="btn btn-secondary">Sign Up</button>
			</div>        
		</div>

	</form>
</div>

